@font-face {
  font-family: 'Roboto';
  src: url('../../font-families/Roboto/Roboto-Light.woff')
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  --welcome-font-size: 3rem;
  --background-color: rgba(127, 255, 212, 0.315);
}

body * {
  font-size: var(--default-font-size);
}

#content {
  height: 80%;
  flex: 1;
}

#welcome {
  font-size: var(--welcome-font-size);
}

#action {
  flex: 1;
  width: 100%;
}

#action > * {
  flex: 1;
}

#add-form {
  gap: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
