@font-face {
  font-family: 'Roboto';
  src: url('../../font-families/Roboto/Roboto-Light.woff')
}

body {
  --default-font-size: 1.5rem;
  --body-background: aquamarine;
  --body-background-off: rgb(90, 172, 143);
  --game-cell-size: calc(7 * var(--default-font-size));
  --game-cell-border: 0.25rem solid grey;
  --game-cell-background: var(--body-background);
  --game-cell-background-off: var(--body-background-off);
  --button-background: rgb(13, 126, 120);
  --button-background-off: rgb(7, 71, 68);
  background: var(--body-background);
  padding: 2rem;
}

body * {
  font-size: var(--default-font-size);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  background: var(--button-background);
  cursor: pointer;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
}

button:hover {
  background: var(--button-background-off);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

#main-content {
  gap: 2rem;
}

#scoreboard {
  gap: 1.5rem;
  width: 100%;
}

#players {
  width: 100%;
  justify-content: space-between;
}

#game {
  gap: 1.5rem;
}

#game-board {
  display: grid;
  height: calc(3 * var(--game-cell-size));
  width: calc(3 * var(--game-cell-size));
  grid-template-columns: repeat(3, var(--game-cell-size));
  grid-template-rows: repeat(3, var(--game-cell-size));
  background: var(--game-cell-background);
}

.game-cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-cell.game-cell-available:hover {
  background-color: var(--body-background-off);
  cursor: pointer;
}

.game-cell[row="0"],
.game-cell[row="1"] {
  border-bottom: var(--game-cell-border);
}

.game-cell[row="2"]
, .game-cell[row="1"] {
  border-top: var(--game-cell-border);
}

.game-cell[col="0"],
.game-cell[col="1"] {
  border-right: var(--game-cell-border);
}

.game-cell[col="2"],
.game-cell[col="1"] {
  border-left: var(--game-cell-border);
}

.game-cell img {
  width: 80%;
  height: 80%;
}